:root {
    --light-green: hsl(174, 81%, 61%);
    --dark-green: #0DA192;
    --main-green: #14BDAC;
    --x-color: #545454;
    --o-color: #F2EBD3;
    --gui-main-color: white;
}

* {
    margin: 0;
    /*normalize*/
}

body {
    height: 100vh;
    text-align: center;
    font-family: 'Anton', sans-serif;
}

#tic-tac-toe {
    display: grid;
    justify-items: center;
    grid-template-rows: 20.2vh 69.6vh auto;
    height: 100vh;
    min-width: 63.5vh;
    background-color: var(--gui-main-color);
}

#tic-tac-toe-top {
    width: 96%;
    padding: 2%;
}

#select-difficulty {
    height: 20%;
    float: left;
}

#tic-tac-toe-information {
    display: inline-block;
    width: 100%;
    height: 80%;
}

#tic-tac-toe-bottom {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
}

.button {
    font-family: 'Anton', sans-serif;
    cursor: pointer;
    background-color: var(--gui-main-color);
}

.button:focus {
    outline: 0;
}

.button:active {
    outline: 0;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.329);
}

#restart-button {
    color: var(--main-green);
    width: 100%;
    height: 90%;
    border: none;
    border-radius: 0% 0% 20% 20%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .16);
}


#tic-tac-toe-board {
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: var(--main-green);
}

#tic-tac-toe-cells-container {
    background-color: var(--dark-green);
    width: 63.5vh;
    height: 63.5vh;
    display: grid;
    grid-template-columns: repeat(3, 20vh);
    grid-template-rows: repeat(3, 20vh);
    grid-gap: 1.8vh;
}

.tic-tac-toe-cell {
    position: relative;
    background-color: var(--main-green);
    display: inline-grid;
    justify-items: center;
    align-items: center;
    padding: 2vh;
}

.tic-tac-toe-x {
    position: relative;
    display: inline-block;
    width: 70%;
    height: 70%;
}

.tic-tac-toe-x::before {
    position: absolute;
    top: 0%;
    left: 8%;
    height: 16%;
    content: "";
    background-color: var(--x-color);
    vertical-align: baseline;
    transform: rotate(45deg);
    transform-origin: top left;
    animation: x-line-animation 0.1s ease-in;
    animation-fill-mode: forwards;
}

.tic-tac-toe-x::after {
    position: absolute;
    top: 0%;
    right: 8%;
    height: 16%;
    content: "";
    background-color: var(--x-color);
    transform: rotate(-45deg);
    transform-origin: top right;
    animation: x-line-animation 0.1s ease-in;
    animation-fill-mode: forwards;
}

@keyframes x-line-animation {
    from {
        width: 0%;
    }

    to {
        width: 135%;
    }
}

.tic-tac-toe-o {
    position: relative;
    z-index: 1;
    width: 60%;
    height: 60%;
    border: 1.8vh solid;
    border-radius: 50%;
    transform: rotate(-45deg);
    animation: o-line-animation 0.3s ease-in;
    animation-fill-mode: forwards;
}

@keyframes o-line-animation {
    0% {
        border-color: transparent;
    }

    25% {
        border-color: var(--o-color) transparent transparent transparent;
    }

    50% {
        border-color: var(--o-color) transparent transparent var(--o-color);
    }

    75% {
        border-color: var(--o-color) transparent var(--o-color) var(--o-color);
    }

    100% {
        border-color: var(--o-color);
    }
}

.vertical-black-line::after {
    z-index: 1;
    position: absolute;
    top: 0px;
    content: "";
    width: 10%;
    background-color: var(--x-color);
    transform-origin: top;
    animation: vertical-line-animation 0.1s ease-in;
    animation-fill-mode: forwards;
}

.vertical-white-line::after {
    z-index: 1;
    position: absolute;
    top: 0px;
    content: "";
    width: 10%;
    background-color: var(--o-color);
    transform-origin: top;
    animation: vertical-line-animation 0.1s ease-in;
    animation-fill-mode: forwards;
}

@keyframes vertical-line-animation {
    from {
        height: 0%;
    }

    to {
        height: 320%;
    }
}

.horizontal-black-line::after {
    z-index: 1;
    position: absolute;
    left: 0px;
    content: "";
    height: 10%;
    background-color: var(--x-color);
    transform-origin: left;
    animation: horizontal-line-animation 0.1s ease-in;
    animation-fill-mode: forwards;
}

.horizontal-white-line::after {
    z-index: 1;
    position: absolute;
    left: 0px;
    content: "";
    height: 10%;
    background-color: var(--o-color);
    transform-origin: left;
    animation: horizontal-line-animation 0.1s ease-in;
    animation-fill-mode: forwards;
}

@keyframes horizontal-line-animation {
    from {
        width: 0%;
    }

    to {
        width: 320%;
    }
}

.diagonal-backward-black-line::after {
    z-index: 1;
    position: absolute;
    top: 0%;
    left: 5%;
    content: "";
    height: 10%;
    background-color: var(--x-color);
    transform: rotate(45deg);
    transform-origin: top left;
    animation: diagonal-line-animation 0.1s ease-in;
    animation-fill-mode: forwards;
}

.diagonal-backward-white-line::after {
    z-index: 1;
    position: absolute;
    top: 0%;
    left: 5%;
    content: "";
    height: 10%;
    background-color: var(--o-color);
    transform: rotate(45deg);
    transform-origin: top left;
    animation: diagonal-line-animation 0.1s ease-in;
    animation-fill-mode: forwards;
}

.diagonal-forward-black-line::after {
    z-index: 1;
    position: absolute;
    top: 0%;
    right: 5%;
    content: "";
    height: 10%;
    background-color: var(--x-color);
    transform: rotate(-45deg);
    transform-origin: top right;
    animation: diagonal-line-animation 0.1s ease-in;
    animation-fill-mode: forwards;
}

.diagonal-forward-white-line::after {
    z-index: 1;
    position: absolute;
    top: 0%;
    right: 5%;
    content: "";
    height: 10%;
    background-color: var(--o-color);
    transform: rotate(-45deg);
    transform-origin: top right;
    animation: diagonal-line-animation 0.1s ease-in;
    animation-fill-mode: forwards;
}

@keyframes diagonal-line-animation {
    from {
        width: 0%;
    }

    to {
        width: 440%;
    }
}

/* TODO: not being used */
.goes-right {
    animation: go-right 0.1s ease-in;
    animation-fill-mode: forwards;
}

.goes-right-down {
    animation: go-right 0.1s ease-in, go-down 0.1s ease-in;
    animation-fill-mode: forwards;
}

.goes-right-up {
    animation: go-right 0.1s ease-in, go-up 0.1s ease-in;
    animation-fill-mode: forwards;
}

.goes-left {
    animation: go-left 0.1s ease-in;
    animation-fill-mode: forwards;
}

.goes-left-down {
    animation: go-left 0.1s ease-in, go-down 0.1s ease-in;
    animation-fill-mode: forwards;
}

.goes-left-up {
    animation: go-left 0.1s ease-in, go-up 0.1s ease-in;
    animation-fill-mode: forwards;
}

.goes-up {
    animation: go-up 0.1s ease-in;
    animation-fill-mode: forwards;
}

.goes-down {
    animation: go-down 0.1s ease-in;
    animation-fill-mode: forwards;
}

.circle-colored {
    border-color: var(--o-color);
}

@keyframes go-right {
    from {
        left: 0vh
    }

    to {
        left: 21.8vh
    }
}

@keyframes go-left {
    from {
        right: 0vh
    }

    to {
        right: 21.8vh
    }
}

@keyframes go-down {
    from {
        top: 0vh
    }

    to {
        top: 21.8vh
    }
}

@keyframes go-up {
    from {
        bottom: 0vh
    }

    to {
        bottom: 21.8vh
    }
}

/* -------------------*/
#victory-container {
    /* background-color: var(--dark-green); */
    justify-items: center;
    width: 63.6vh;
    height: 63.6vh;
    display: grid;
    grid-template-rows: 80% 30%;
}

#big-ox-container {
    position: relative;
    display: inline-grid;
    justify-items: center;
    align-items: center;
    width: 80%;
    padding: 2vh;
    /* background-color: rgba(255, 0, 0, 0.301); */
}


#winner-text {
    display: inline-grid;
    font-weight: bold;
    color: var(--x-color);
    font-size: 9vh;
    letter-spacing: 1vh;
}

.border-thiccc-solid {
    border: 5vh solid;
}