:root {
    --light-green: hsl(174, 81%, 61%);
    --dark-green: #0DA192;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: var(--light-green);
}

#footer {
    position: absolute;
    bottom: 0px;
    color: #2e2620
}

tic-tac-toe {
    background-color: var(--dark-green);
    width: 63.6vh;
    display: grid;
    grid-template-columns: repeat(3, 20vh);
    grid-template-rows: repeat(3, 20vh);
    grid-gap: 1.8vh;
    margin: 10vh auto auto auto;
}

#tic-tac-toe-container {
    position: relative;
    display: inline-block;
    width: 63.6vh;
    height: 63.6vh;
    background-color: #476b4b77;
}

tic-tac-toe-cell {
    position: relative;
    background-color: var(--light-green);
    display: inline-grid;
    justify-items: center;
    align-items: center;
    padding: 2vh;
}

/* TODO: LE REFATORE */
.board-boxes {
    background: var(--light-green);
    display: inline-grid;
    justify-items: center;
    align-items: center;
}

.tic-tac-toe-x {
    position: relative;
    display: inline-block;
    width: 70%;
    height: 70%;
}

.tic-tac-toe-x::before {
    position: absolute;
    top: 0%;
    left: 8%;
    height: 16%;
    content: "";
    background-color: #635c5c;
    vertical-align: baseline;
    transform: rotate(45deg);
    transform-origin: top left;
    animation: x-line-animation 0.1s ease-in;
    animation-fill-mode: forwards;
}

.tic-tac-toe-x::after {
    position: absolute;
    top: 0%;
    right: 8%;
    height: 16%;
    content: "";
    background-color: #635c5c;
    transform: rotate(-45deg);
    transform-origin: top right;
    animation: x-line-animation 0.1s ease-in;
    animation-fill-mode: forwards;
}

@keyframes x-line-animation {
    from {
        width: 0%;
    }

    to {
        width: 135%;
    }
}

.tic-tac-toe-o {
    position: relative;
    z-index: 1;
    width: 80%;
    height: 80%;
    border: 1.8vh solid;
    border-radius: 50%;
    transform: rotate(-45deg);
    animation: o-line-animation 0.3s ease-in;
    animation-fill-mode: forwards;
}

@keyframes o-line-animation {
    0% {
        border-color: transparent;
    }

    25% {
        border-color: #F2EBD3 transparent transparent transparent;
    }

    50% {
        border-color: #F2EBD3 transparent transparent #F2EBD3;
    }

    75% {
        border-color: #F2EBD3 transparent #F2EBD3 #F2EBD3;
    }

    100% {
        border-color: #F2EBD3;
    }
}

.vertical-black-line::after {
    z-index: 1;
    position: absolute;
    top: 0px;
    content: "";
    width: 1.8vh;
    background-color: #545454;
    transform-origin: top;
    animation: vertical-line-animation 0.1s ease-in;
    animation-fill-mode: forwards;
}

.vertical-white-line::after {
    z-index: 1;
    position: absolute;
    top: 0px;
    content: "";
    width: 1.8vh;
    background-color: #F2EBD3;
    transform-origin: top;
    animation: vertical-line-animation 0.1s ease-in;
    animation-fill-mode: forwards;
}

@keyframes vertical-line-animation {
    from {
        height: 0%;
    }

    to {
        height: 320%;
    }
}

.horizontal-black-line::after {
    z-index: 1;
    position: absolute;
    left: 0px;
    content: "";
    height: 1.8vh;
    background-color: #545454;
    transform-origin: left;
    animation: horizontal-line-animation 0.1s ease-in;
    animation-fill-mode: forwards;
}

.horizontal-white-line::after {
    z-index: 1;
    position: absolute;
    left: 0px;
    content: "";
    height: 1.8vh;
    background-color: #F2EBD3;
    transform-origin: left;
    animation: horizontal-line-animation 0.1s ease-in;
    animation-fill-mode: forwards;
}

@keyframes horizontal-line-animation {
    from {
        width: 0%;
    }

    to {
        width: 320%;
    }
}

.diagonal-backward-black-line::after {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 1.5vh;
    content: "";
    height: 1.8vh;
    background-color: #545454;
    transform: rotate(45deg);
    transform-origin: top left;
    animation: diagonal-line-animation 0.1s ease-in;
    animation-fill-mode: forwards;
}

.diagonal-backward-white-line::after {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 1.5vh;
    content: "";
    height: 1.8vh;
    background-color: #F2EBD3;
    transform: rotate(45deg);
    transform-origin: top left;
    animation: diagonal-line-animation 0.1s ease-in;
    animation-fill-mode: forwards;
}

.diagonal-forward-black-line::after {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 1.5vh;
    content: "";
    height: 1.8vh;
    background-color: #545454;
    transform: rotate(-45deg);
    transform-origin: top right;
    animation: diagonal-line-animation 0.1s ease-in;
    animation-fill-mode: forwards;
}

.diagonal-forward-white-line::after {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 1.5vh;
    content: "";
    height: 1.8vh;
    background-color: #F2EBD3;
    transform: rotate(-45deg);
    transform-origin: top right;
    animation: diagonal-line-animation 0.1s ease-in;
    animation-fill-mode: forwards;
}

@keyframes diagonal-line-animation {
    from {
        width: 0%;
    }

    to {
        width: 440%;
    }
}

.goes-right {
    animation: go-right 0.1s ease-in;
    animation-fill-mode: forwards;
}

.goes-right-down {
    animation: go-right 0.1s ease-in, go-down 0.1s ease-in;
    animation-fill-mode: forwards;
}

.goes-right-up {
    animation: go-right 0.1s ease-in, go-up 0.1s ease-in;
    animation-fill-mode: forwards;
}

.goes-left {
    animation: go-left 0.1s ease-in;
    animation-fill-mode: forwards;
}

.goes-left-down {
    animation: go-left 0.1s ease-in, go-down 0.1s ease-in;
    animation-fill-mode: forwards;
}

.goes-left-up {
    animation: go-left 0.1s ease-in, go-up 0.1s ease-in;
    animation-fill-mode: forwards;
}

.goes-up {
    animation: go-up 0.1s ease-in;
    animation-fill-mode: forwards;
}

.goes-down {
    animation: go-down 0.1s ease-in;
    animation-fill-mode: forwards;
}

.circle-colored {
    border-color: #F2EBD3;
}

@keyframes go-right {
    from {
        left: 0vh
    }

    to {
        left: 21.8vh
    }
}



@keyframes go-left {
    from {
        right: 0vh
    }

    to {
        right: 21.8vh
    }
}

@keyframes go-down {
    from {
        top: 0vh
    }

    to {
        top: 21.8vh
    }
}


@keyframes go-up {
    from {
        bottom: 0vh
    }

    to {
        bottom: 21.8vh
    }
}

#victory-container {
    background-color: var(--dark-green);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 80% 30%;
}

#big-ox-container {
    position: relative;
    display: inline-grid;
    justify-items: center;
    align-items: center;
    /* width: 70%; */
    padding: 2vh;
    background-color: rgba(255, 0, 0, 0.301);
}

#winner-text {
    position: absolute;
    display: inline-grid;
    z-index: 1;
    top: 70%;
    /* background-color: rgba(255, 127, 80, 0.205); */
}